# Ansible-generated Terraria server configuration file

# MOTD
motd={{ gs_terraria_motd }}

# World settings
world=/home/vagrant/terraria_worlds/WARUDO.wld
worldpath=/home/vagrant/terraria_worlds
autocreate=2
worldname=Aurellia
seed=05162020

# General settings
difficulty=3
maxplayers=8
secure=1
language=en-US
priority=1
banlist=banlist.txt

# Network settings
port=7777
upnp=1
password=420

# Journey mode settings
journeypermission_time_setfrozen=1
journeypermission_time_setdawn=2
journeypermission_time_setnoon=0
journeypermission_time_setdusk=2
journeypermission_time_setmidnight=0
journeypermission_godmode=1
journeypermission_wind_setstrength=0
journeypermission_rain_setstrength=0
journeypermission_time_setspeed=1
journeypermission_rain_setfrozen=0
journeypermission_wind_setfrozen=0
journeypermission_increaseplacementrange=0
journeypermission_setdifficulty=1
journeypermission_biomespread_setfrozen=1
journeypermission_setspawnrate=0